@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Romanesco&display=swap');

body{

    font-family: "Inter";
    margin: 0;
}
:root{
    --color-primerio-letras: #1A202C;
    --color-descripciones-letras: #718096;
    --color-nombres-letras: #A0AEC0;
    --color-puesto-letras: #CBD5E0;
    --color-morado-flechas: #57007B;
    --color-fondo: #F7F7FA;
    --color-fondo-items: #FAFAFA;
    --color-borde-items: #E7DAED;
}
#navbar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 79px;
    background-color: white;
    align-items: center;
    background-color:#f5f5f5 ;

}
.navbar-list-central{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
.navbar-list-central a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    color: #4A5568;


}

.contact{
    color: black;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    background: linear-gradient(#6675F7,#57007B);
    color: #FAFAFA;
    width: 124px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;   
}

#navbar-izq{
    font-size: 24px;
    justify-content: space-between;
    align-content: center;
    padding-left: 50px;
}

.logo{
    padding-top: 65px;
    padding-left: 165px;
    display: flex;
    height: 546px;
    width: 1145px;
    align-items: center;
    justify-content: center; 
}
.logo-imagen{
    width: 614px;
    height: 546px;
}

.logo-contenido{
    width: 531px;
    height: 355px;
    display: flex;
    flex-direction: column;
}
.titulo-morado-claro{
    background: linear-gradient(#DE4396, #0D1C9F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.titulo-morado{
    background: linear-gradient(#F7666F, #406AFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.titulo-morado{
    background: linear-gradient(#F7666F, #406AFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  
}
.logo-contenido h1{
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    
    
}
.logo-contenido h1 b{
    font-size: 51px;
    font-weight: 800;
    
}
.logo-contenido p{
    padding-top: 5%;
    font-size: 18px;
    font-weight: 400;
    color: #4A5568;
}

.logo-contenido a{
    height: 52px;
    width: 175px;
    font-size: 14px;
    font-weight: 600;
    color: #FAFAFA;
    background-color: #3D63EA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-top: 10%;
    padding: 0;
}

/* Experiencia */
.experiencias{
    padding-top: 120px;
    display: flex;
    height: 627px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    
}

.experiencias-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#experiencias1, #experiencias2{
    color: var(--color-primerio-letras);
    margin: 0;
    line-height: 55px;
}

#experiencias1{
    font-size: 35px;
    font-weight: 400;
}

#experiencias2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 51px;
    
}

.experiencia-texto{
    font-size: 18px;
    color: var(--color-descripciones-letras);
    width: 500px;
    line-height: 36px;
}

.experiencia-deslizar-izq{
    display: flex;
    justify-content: space-between;
    gap: 1280px;
    align-items: center;
    padding-top: 30px;
}

.flecha-izq, .flecha-der{
    background-color: transparent;
    border: 3px solid var(--color-morado-flechas);
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 50%;
    color: var(--color-morado-flechas);
    cursor: pointer;
    margin-bottom: 60px;
}

.experiencias-personas {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 76px;
    height: 197px;
}
.experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.experiencia-mostrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.experiencia h4 {
    margin: 0;
    font-size: 16px;
    color: var(--color-nombres-letras);
    font-weight: 400;
}

.experiencia p {
    font-size: 11px;
    color: var(--color-puesto-letras);
}

.persona {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 10px;
    opacity: 0.6;
}


.experiencia-mostrada img:first-child { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(135, 135, 185, 0.4);
}

.experiencia-mostrada h4 {
    margin-top: 3%;
    margin-bottom: -9px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-morado-flechas); 
}

.experiencia-mostrada p {
    font-size: 14px;
    color: #000000;
    width: 123px;
    height: 23px;
}
.estrella {
    width: 125.52px;
    height: 35px;
    margin: 10px;
}



/*  Approach*/
.approach{
    display: flex;
    height: 1142px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    background: var(--color-fondo);
    border-top: 1px solid var(--color-borde-items);
    border-bottom: 1px solid var(--color-borde-items);
}
#approach1, #approach2{
    color: var(--color-primerio-letras);
    margin: 0;
    line-height: 55px;
}

#approach1{
    font-size: 35px;
    font-weight: 400;
    margin-top: 90px;
}

#approach2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 31px;
}

.approach-contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    align-items: center;
    margin-top: 70px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    background: var(--color-fondo-items);
    padding: 25px;
    width: 604px;
    height: 170px;
    border: 1px solid var(--color-borde-items);
}
.item h3{
    color: var(--color-primerio-letras);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item p{
    color: var(--color-descripciones-letras);
    font-size: 14px;
    font-weight: 400;
    line-height: 162%;
    margin: 0;
    width: 453px;
}
#UX-first1{
    color: #29272d;
    font-weight: 400;
}
#UX-first2{
    color: #7dc9ef;
    font-weight: 400;
}
#UX-first3{
    color: #ef86a8;
    font-weight: 400;
}
#UX-first4{
    color: #81e5d8;
    font-weight: 400;
}
#UX-first5{
    color: #f7d775;
    font-weight: 400;
}
#UX-first6{
    color: #bb527e;
    font-weight: 400;
}
.imagen-approach{
    width: 59px;
    height: 56px;
    border-radius: 10%;
}

/* Recursos */
.recursos{
height: 489;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10%;
}
#recursos-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;

}
.recursos h2,h3{
    color: #1A202C;
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    padding: 0%;
}
.recurso h4{
    color: #2D3748;
    font-size: 16px;
    font-weight: 500;
}
.recursos-contenido{

    display: flex;
    gap: 60px;
    width: 1196px;
    height: 315px;
}
.recurso a{
    text-decoration: none;
    display: flex;
    justify-content: right;
    padding-right: 2%;

}


.recurso{
    gap: 20px;
    padding-top: 4%;
}
.recurso img{
    width: 254px;
    height: 175px;
    border-radius: 10%;
    
}

footer{
    background-color:#f5f5f5 ;
}
.footer-contenido{
    width: 1230px;
    height: 294px;
    display: flex;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 105px;
    margin-right: 105px;
    align-content: center;
    justify-content: space-between;
    color: #718096;
    line-height: 30px;
}
.footer-contenido img{
    width: 34px;
    height: 34px;
}
.footer-contenido ul{
    list-style: none;
    padding: 0;
}
.footer-contenido a{
    text-decoration: none;
    color: #718096;
}
.redes{
    display: flex;
    align-items: end;
}
.copyright{
    display: flex;
    align-content: center;
    justify-content: center;
}