#navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-list-central{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
.navbar-list-central a{
    color: black;
    text-decoration: none;
    
}

.contact{
    color: black;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    background-color: blue;
    color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    
}

#navbar-izq{
    justify-content: center;
    align-content: center;
    padding-left: 50px;
    font-size: larger;
}